#wrap{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;height: 100vh;
    background: #000;
}
#contents-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1150px;
    height: 960px;
    
}
#time{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}
#time>div>p{
    font-size: 20px;
    color: #797979;
}
#btn{
    margin-top: 23px;
    width: 100%;
    display: flex;
}
#btn>button{
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
    border: 3px solid #292929;
    background-color: rgba(41, 41, 41, 0.80);
    font-size: 20px;
    color: #fff;
}
#nextbtn{
    margin-left: 32px;
}
#scene{
    width: 1150px;
    height: 760px;
    position: relative;
}
#scene>div{
    display: block;
}
#scene>div:first-child{
    display: block;
}
#scene .scenenum{
    position: absolute;

}
#scene #textBox{
    position: absolute;
    top: 10rem;left: 10rem;
    z-index: 100;
}
#open>img{
    object-fit: fill;
}
.title{
    padding-bottom: 12px;
    font-family: NeoDunggeunmo Pro;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.88px;
    color: #fff;
}
#myButton{
    cursor: pointer;
    width: 200px; height: 40px;
    font-size: 20px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
}
/* 타이핑 */
.typing {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: 1.8rem;
  }
  
  .text {
    line-height: 30px;
    font-size: 1.2rem;
    margin-left: .6rem;
    color: #fff;
  }
  
  .text::after {
    content: '';
    margin-left: .4rem;
    border-right: 2px solid #777;
    animation: cursor .9s infinite steps(2);
  }
  
  @keyframes cursor {
    from { border-right: 2px solid #eaeaea29; }
    to { border-right: 2px solid #e0e0e0; }
  }
/* 3번째 화면 */
.contentsbox{position: absolute;
    top: 30vh; left: 5vw;
}
.cherater{
    display: flex;
    align-items: end;
}
.name{
    text-align: center;
    color: #fff;
    font-family:NeoDunggeunmo Pro ;
    display: inline-block;
    width: 100px;height: 25px;
    background-color: #292929;
    border: #777;
}
.dialog{
    width: 50vw;height: 20vh;
    background-color: #292929;
}