*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none; color: #fff; font-family:'NeoDunggeunmo' ;}
p,button{
    font-family:'NeoDunggeunmo' ;
}
h1{font-family: 'NeoDunggeunmo Code';}